DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
JWT_SECRET="your_jwt_secret"
JWT_EXPIRATION_TIME="1d"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASSWORD=app_password
SMTP_FROM=example@gmail.com
SENDER_EMAIL=example@gmail.com
SMTP_SECURE=true
SMALL_SLOT_PRICE=100
MEDIUM_SLOT_PRICE=200
LARGE_SLOT_PRICE=300